body {
	background-image: url("https://78.media.tumblr.com/d8bc81bb413d03ea98151ac445ad3fc5/tumblr_ot1um5EEKW1ucdb23o1_500.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: #e3f2fd;
	
}


.parallax-container {
	height: "500px";
}
        